.frame {
  padding: 10px;
  background-color: $color_frame_outside_light_theme;
  border-radius: 26px;

  .open & {
    background-color: $color_frame_outside_light_theme_popup;
  }

  .theme-dark & {
    background-color: $color_frame_outside_dark_theme;
  }

  @include media-one {
    padding: 8px;
  }

  @include media-three {
    padding: 6px;
  }

  &--modal {
    padding: 8px;
    border-radius: 30px;

    @include media-three {
      padding: 6px;
    }
  }
}

.frame__middle {
  padding: 16px;
  @extend %background_frame_gradient_light_theme;
  border-radius: 24px;

  .theme-dark & {
    @extend %background_frame_gradient_dark_theme;
  }

  @include media-one {
    padding: 12px;
  }

  @include media-three {
    padding: 8px;
  }

  .frame--modal & {
    padding: 10px;

    @include media-one {
      padding: 8px;
    }

    @include media-three {
      padding: 6px;
    }
  }
}

.frame__inside {
  padding: 20px;
  background: $color_primary_light_theme;
  border: 3px solid $color_frame_inside_light_theme;
  border-radius: 20px;

  @include media-one {
    padding: 16px;
  }

  @include media-three {
    padding: 12px;
  }

  .theme-dark & {
    background: $color_primary_dark_theme;
    border: 3px solid $color_frame_inside_dark_theme;
  }
}
