.frame {
  padding: 10px;
  background-color:#91181d;
  border-radius: 26px;

  .open & {
    background-color:#653e40;
  }

  .theme-dark & {
    background-color: #000000;
  }

  @include media-one {
    padding: 8px;
  }

  @include media-three {
    padding: 6px;
  }

  &--modal {
    padding: 8px;
    border-radius: 30px;

    @include media-three {
      padding: 6px;
    }
  }
}

.frame__middle {
  padding: 16px;
  background: linear-gradient(180deg, #fdb96a 0%, #ff8a00 53.44%, #febca0 100%);
  border-radius: 24px;

  .theme-dark & {
    background: linear-gradient(180deg, #3b3c47 0%, #7a7b8b 54.48%, #3b3c47 100%);
  }

  @include media-one {
    padding: 12px;
  }

  @include media-three {
    padding: 8px;
  }

  .frame--modal & {
    padding: 10px;

    @include media-one {
      padding: 8px;
    }

    @include media-three {
      padding: 6px;
    }
  }
}

.frame__inside {
  padding: 20px;
  background:#fffad0;
  border: 3px solid  #ecad99;
  border-radius: 20px;

  @include media-one {
    padding: 16px;
  }

  @include media-three {
    padding: 12px;
  }

  .theme-dark & {
    background: #4c5361;
    border: 3px solid #747d9d;
  }
}
