.modal-close {
  width: 94px;
  height: 94px;
  background-image: url('../assets/svg/pop-up/close-light.svg');
  border-radius: 100%;
  .theme-dark & {
    background-image: url('../assets/svg/pop-up/close-dark.svg');
  }
}
