.modal-title {
  width: 283px;
  height: 84px;
  background-image: url('../assets/svg/pop-up/title-bg-light.svg');

  .theme-dark & {
    background-image: url('../assets/svg/pop-up/title-bg-dark.svg');
  }
}

.modal-title__text {
  text-align: center;
  font-size: 36px;
  line-height: 84px;
}
