.modal {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease;
}

.modal__wrapper {
  max-width: 775px;
  padding: 12px;

  @include media-one {
    max-width: 600px;
  }

  @include media-three {
    max-width: 475px;
  }
}

.modal.open {
  opacity: 1;
  visibility: visible;
}

.modal__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 60px;
  margin: 50px 0;

  @include media-one {
    margin: 40px 0;
    row-gap: 40px;
  }

  @include media-three {
    margin: 24px 0;
    row-gap: 24px;
  }
}

.modal__title {
  position: absolute;
  margin: 0 auto;
  top: -130px;
  width: 283px;
  height: 84px;
  background-size: cover;
  background-image: url('../assets/svg/pop-up/title-bg-light.svg');

  @include media-one {
    top: -100px;
    width: 212px;
    height: 63px;
  }

  @include media-three {
    top: -75px;
    width: 170px;
    height: 50px;
  }

  .theme-dark & {
    background-image: url('../assets/svg/pop-up/title-bg-dark.svg');
  }
}

.modal__title-text {
  text-align: center;
  font-size: 36px;
  line-height: 84px;

  @include media-one {
    font-size: 24px;
    line-height: 63px;
  }

  @include media-three {
    font-size: 20px;
    line-height: 50px;
  }
}

.modal__close {
  position: absolute;
  margin: 0 auto;
  bottom: -130px;

  width: 94px;
  height: 94px;
  background-size: cover;
  background-image: url('../assets/svg/pop-up/close-light.svg');
  border-radius: 100%;
  cursor: pointer;
  transition: all 0.3s ease;

  @include media-one {
    bottom: -110px;
    width: 75px;
    height: 75px;
  }

  @include media-three {
    bottom: -75px;
    width: 56px;
    height: 56px;
  }

  .theme-dark & {
    background-image: url('../assets/svg/pop-up/close-dark.svg');
  }
}

.modal__close:hover {
  background-image: url('../assets/svg/pop-up/close-light-hover.svg');
  .theme-dark & {
    background-image: url('../assets/svg/pop-up/close-dark-hover.svg');
  }
}
