.sound-modal {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 60px;
  margin: 50px;
}

.sound-modal__title-block {
  position: absolute;
  top: -130px;
  margin: 0 auto;
}

.sound-modal__music-block {
  width: 100%;
  text-align: center;
}

.sound-modal__sounds-block {
  width: 100%;
  text-align: center;
}

.sound-modal__music-title {
  margin-bottom: 12px;
}

.sound-modal__sounds-title {
  margin-bottom: 12px;
}

.volume-bar {
  display: flex;
  height: 52px;
  column-gap: 17px;
}

.volume-bar__scale {
  flex-grow: 1;
  padding: 2px 8px 8px;
  background-color: #e28418;
  border-radius: 200px;

  .theme-dark & {
    background: #3d3e4a;
  }
}

.volume-bar__scale-border {
  background: #ffc284;
  border-radius: 200px;
  height: 100%;
  padding: 10px;

  .theme-dark & {
    background: #747d9d;
  }
}

.volume-bar__volume {
  width: 100%;
  height: 100%;
  background: #2cc0be;
  border-radius: 200px;
}

.volume-bar__scale-inside {
  background: #653e40;
  border-radius: 200px;
  padding: 3px;
  height: 100%;

  .theme-dark & {
    background: #653e40;
  }
}

.volume-bar__reduce {
  width: 46px;
  height: 46px;
  background-image: url('../assets/svg/pop-up/minus-light.svg');

  .theme-dark & {
    background-image: url('../assets/svg/pop-up/minus-dark.svg');
  }
}

.volume-bar__increase {
  width: 46px;
  height: 46px;
  background-image: url('../assets/svg/pop-up/plus-light.svg');

  .theme-dark & {
    background-image: url('../assets/svg/pop-up/plus-dark.svg');
  }
}

.sound-modal__close {
  position: absolute;
  margin: 0 auto;
  bottom: -130px;
  cursor: pointer;
}
