.volume-bar {
  padding: 0 27px;
  width: 100%;
  text-align: center;
}

.volume-bar__title {
  margin-bottom: 12px;
}

.volume-bar__controls {
  display: flex;
  height: 52px;
  column-gap: 17px;
}

.volume-bar__scale {
  flex-grow: 1;
  padding: 2px 8px 8px;
  background-color: #e28418;
  border-radius: 200px;
  width: 336px;

  .theme-dark & {
    background: #3d3e4a;
  }
}

.volume-bar__scale-border {
  background: #ffc284;
  border-radius: 200px;
  height: 100%;
  padding: 10px;

  .theme-dark & {
    background: #747d9d;
  }
}

.volume-bar__volume {
  width: 50%;
  height: 100%;
  background: #2cc0be;
  border-radius: 200px;
}

.volume-bar__scale-inside {
  background: #653e40;
  border-radius: 200px;
  padding: 3px;
  height: 100%;

  .theme-dark & {
    background: #653e40;
  }
}

.volume-bar__decrease {
  width: 46px;
  height: 46px;
  cursor: pointer;
  background-image: url('../assets/svg/pop-up/minus-light.svg');

  .theme-dark & {
    background-image: url('../assets/svg/pop-up/minus-dark.svg');
  }
}

.volume-bar__increase {
  width: 46px;
  height: 46px;
  cursor: pointer;
  background-image: url('../assets/svg/pop-up/plus-light.svg');

  .theme-dark & {
    background-image: url('../assets/svg/pop-up/plus-dark.svg');
  }
}
