@font-face {
  font-family: 'PF BeauSans Pro';
  src: local('PF BeauSans Pro'), url('../assets/fonts/PFBeauSansPro-Bold.woff2') format('woff2'),
    url('../assets/fonts/PFBeauSansPro-Bold.woff') format('woff'), url('../assets/fonts/PFBeauSansPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'PF BeauSans Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  text-transform: uppercase;
  color: $color_text_light_theme;
  background-color: #ffe8cc;

  &.theme-dark {
    color: $color_text_dark_theme;
    color: white;
    background-color: #2e3441;
  }

  @include media-one {
    font-size: 28px;
    line-height: 34px;
  }
  /*
  @include media-two {
    font-size: 20px;
    line-height: 24px;
  } */

  @include media-three {
    font-size: 20px;
    line-height: 24px;
  }
}
