.main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.minesweeper-app {
  max-width: 1097px;
  margin: auto;
}

.minesweeper-app__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
  color: #000000;

  .theme-dark & {
    color: white;
  }
}

.minesweeper-app__sound {
  background-image: url('../assets/svg/sound-light.svg');
  width: 80px;
  height: 80px;
  border-radius: 200px;
  cursor: pointer;
  .theme-dark & {
    background-image: url('../assets/svg/sound-dark.svg');
  }
}

.minesweeper-app__statistics {
  display: flex;
  justify-content: space-between;
  column-gap: 76px;
}

.minesweeper-app__mines-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 130px;
}

.minesweeper-app__mines-left-flag {
  background-image: url('../assets/svg/flag.svg');
  width: 80px;
  height: 80px;
}

.minesweeper-app__game-time {
  display: flex;
  align-items: center;
  column-gap: 18px;
}

.minesweeper-app__game-time-clock {
  display: block;
  background-image: url('../assets/svg/clock.svg');
  width: 48px;
  height: 52px;
}

.minesweeper-app__configs {
  width: 80px;
  height: 80px;
  background-image: url('../assets/svg/configs-light.svg');
  border-radius: 200px;
  cursor: pointer;

  .theme-dark & {
    background-image: url('../assets/svg/configs-dark.svg');
  }
}
.minesweeper-app__minesweeper {
  display: block;
}

.svg1 {
  width: 80px;
  height: 80px;
  //background-image: url('../assets/svg/grid/red-cell.svg');
}
