.main {
  margin: 20px;
}

.minesweeper-app__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
  color: #000000;
}

.minesweeper-app__volume {
  background-image: url('../assets/svg/volume.svg');
  width: 80px;
  height: 80px;
}

.minesweeper-app__statistics {
  display: flex;
  justify-content: space-between;
  column-gap: 76px;
}

.minesweeper-app__mines-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  // column-gap: 18px;
  width: 130px;
}

.minesweeper-app__mines-left-flag {
  background-image: url('../assets/svg/flag.svg');
  width: 80px;
  height: 80px;
}

.minesweeper-app__game-time {
  display: flex;
  align-items: center;
  column-gap: 18px;
}

.minesweeper-app__game-time-clock {
  display: block;
  background-image: url('../assets/svg/clock.svg');
  width: 48px;
  height: 52px;
}
.minesweeper-app__configs {
  background-image: url('../assets/svg/configs.svg');
  width: 80px;
  height: 80px;
}
.canvas {
  display: block;
  margin: 0 auto;
}

.svg1 {
  width: 80px;
  height: 80px;
  //background-image: url('../assets/svg/grid/red-cell.svg');
}
