// Colors
$color_primary_light_theme: #fffad0;
$color_primary_dark_theme: #4c5361;

$color_text_light_theme: #7c2121;
$color_text_dark_theme: #747d9d;

$color_frame_outside_light_theme: #91181d;
$color_frame_outside_dark_theme: #000000;

$color_frame_outside_light_theme_popup: #653e40;

$color_frame_inside_light_theme: #ecad99;
$color_frame_inside_dark_theme: #747d9d;

$color_blocks_background_light_theme: #ffc284;
$color_blocks_background_dark_theme: #787e8b;

$color_checkbox_first_color: #653e40;
$color_checkbox_second_color: #2cc0be;
