%transition03s {
  transition: all 0.3s ease-in;
}

%background_frame_gradient_light_theme {
  background: linear-gradient(180deg, #fdb96a 0%, #ff8a00 53.44%, #febca0 100%);
}

%background_frame_gradient_dark_theme {
  background: linear-gradient(180deg, #3b3c47 0%, #7a7b8b 54.48%, #3b3c47 100%);
}
